@font-face {
    font-family: Intro;
    src: url(../fonts/Intro.otf);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Menu */
.menu {
	position: fixed;
	top: 0;
	right: left;
	height: 100%;
	width: 320px;
	z-index: -1;
    transition: 0.5s;
    text-align: right;
}

.js .menu {
	pointer-events: none;
}

.js .menu--open {
	pointer-events: visible;
}

.menu__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style-type: none;
	padding: 20vh 0;
	margin: 0;
	background: #2e2e2e;
	overflow: hidden;
}

.menu__item {
	padding: 0.2em;
}

.js .menu__item {
	transform: translate3d(-13em,0,0);
	transition: transform 0s 0.4s;
}

.btn--close {
	opacity: 0;
}

.menu--open .menu__item,
.menu--open .btn--close {
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu--open .menu__item:nth-child(2) {
	transition-delay: 0.165s;
}

.menu--open .menu__item:nth-child(3) {
	transition-delay: 0.195s;
}

.menu--open .menu__item:nth-child(4) {
	transition-delay: 0.225s;
}

.menu .menu__link {
    display: block;
    width: 100%;
	font-size: 40px;
    line-height: 1;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-right: 40px;
    font-family: Intro;
	color: white;
}

.menu .menu__link {
    transition: 0.3s;
}

.menu .menu__link:hover {
    background: #C14E46;
}

.menu .menu__link:hover {
    transition: 0.2s;
    color: #2e2e2e;
}

.menu .menu__link:hover,
.menu .menu__link:focus {
	outline: none;
}

.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}
